*{
  padding: 0;
  margin: 0;
}
html{font-size:13.33333333vw}
html,body{
    
    font-family: PingFangSC-Regular, PingFang SC;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#EFEFEF;
}
ul,li{margin:0px;padding:0px;list-style: none;}
input,button{border:0 none;border-radius: 0px;outline:none;}

.no-data{
    text-align: center;
    margin-top:0.5rem;
  font-size: 0.28rem;
}